<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Co-Lab</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <nav><a href="/login"><img id="logo" class="logo" src="/assets/img/logo.png" alt="logo"/></a>
    <button class="btn btn-primary navlink"><a href="/boards">Boards</a></button>
    <button class="btn btn-primary navlink"><a href="/logout">Log out</a></button>
  </nav>

  <section id="tickets">
      {{#if priorities.tickets}}
          {{#each priorities.tickets}}
            <div class="ticketContainer">
                <h3>Priority: {{math 5 "-" @index}}</h3>
                <div class="btn-group btn-group-toggle sortButtons" data-toggle="buttons">
                  <label class="btn btn-primary active">
                    <input type="radio" name="options" id="option1" autocomplete="off" checked> Date Created
                  </label>
                  <label class="btn btn-primary">
                    <input type="radio" name="options" id="option2" autocomplete="off"> Date Due
                  </label>
                </div>
                {{#if this}}
                    <div class="tickets">
                            {{#each this}}
                                <div class="ticket">
                                    <h3 class="ticketTitle">Title: {{this.title}}</h3>
                                    <h3 class="ticketPriority">Priority: {{this.priority}}</h3>
                                    <h3 class="ticketDueDate">Due Date: {{this.dueDate}}</h3>
                                    <h3 class="ticketDesc">Description: {{this.description}}</h3>
                                    <form id={{concat "ticketDeleteForm" @index}} name={{concat "ticketDeleteForm" @index}} action="/resolveTicket" method="delete" class="ticketDeleteForm">
                                        <input type="hidden" name="_csrf" value={{../../csrfToken}} />
                                        <input type="hidden" name="_id" value={{this.id}} />
                                        <input type="hidden" name="_boardID" value={{../../boardID}} />
                                        <input class="deleteTicketSubmit btn btn-primary" type="submit" value="X"/>
                                    </form>
                                </div>
                            {{/each}}
                    </div>
                {{else}}
                    <h3 class="emptyTickets">No Tickets</h3>
                {{/if}}
            </div>
          {{/each}}
      {{/if}}


  </section>
  <section id="makeTicket">
      <div class="ticketFormContainer">
          <form id="ticketForm" name="ticketForm" action="/makeTicket" method="POST" class="ticketForm">
            <div class="row">
              <label for="title">Title: </label>
              <input id="ticketTitle" class="form-control" type="text" name="title" placeholder="Title"/>
              <label for="priority">Priority: </label>
              <input id="ticketPriority" class="form-control" type="text" name="priority" placeholder="Priority"/>
              <label for="dueDate">Due Date: </label>
              <input class="form-control" id="ticketDueDate" type="date" name="dueDate" placeholder="Due Date"/>
            </div>
            <div class="row">
              <label for="description">Description: </label>
              <input class="form-control" id="ticketDesc" type="text" name="description" placeholder="Description" />
              <input type="hidden" name="boardID" value={{boardID}}>
              <input type="hidden" name="_csrf" value={{csrfToken}} />
              <input class="makeTicketSubmit btn btn-primary" type="submit" value="Make Ticket" />
            </div>
            </form>
      </div>
  </section>
  <div id="domoMessage"><img id="speech" src="/assets/img/speech.png" alt="speech box"/>
    <h3><span id="errorMessage"></span></h3><img id="domo" src="assets/img/domo.png" alt="domo"/>
  </div>
  <script src="/assets/bundle.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
